<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mapillary.glass" >
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission
            android:name="com.google.android.glass.permission.DEVELOPMENT" />
    <uses-sdk
            android:minSdkVersion="14"
            android:targetSdkVersion="19"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library
            android:name="com.google.android.glass"
            android:required="true" />

        <activity
            android:name=".MainActiviy"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_main_activiy"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name=
                                "com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>
            <meta-data
                    android:name="com.google.android.glass.VoiceTrigger"
                    android:resource="@xml/mapillary_trigger" />
        </activity>
    </application>

</manifest>
